ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #423E37;
}
li{
    float: right;
}
li a, .dropbtn {
    display: inline-block;
    color: #EEF5DB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #F58F29;
}

.motorhome{
    border: 2px solid #F58F29;
    width: 30%;
    padding: 8px;
    margin-left: 13%;
    display: inline-block;
}
.motorhome h1{
    text-align: center;
    text-transform: uppercase;
    color: #F58F29;
    font-family: sans-serif;
}
.motorhome p{
    font-family: sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width: 250px;
}
.header{
    text-align: center;
    text-transform: uppercase;
    color: #F58F29;
    font-family: sans-serif;
}