<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="/expenseCSS.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>

</ul>

<h1 class="expenseHeader">Create New expense</h1>
<div class="wrapperCreateExpenses">
    <form action="/createExpenses" method="post">
        <div class="expenseParagraph">
            <p>The chosen rental ID:</p>
            <span th:text="${rental_id}"/>
            <label>
                Confirm the rental ID mentioned above<input type="text" name="rental_id" placeholder="Confirm id..">
            </label>
            <label>
                Enter the rental start date<input type="text" name="rental_start_date" placeholder="Enter rental start date">
            </label>
            <label>
                Enter start time<input type="time" name="start_time" placeholder="Enter start time">
            </label>
            <label>
                Enter the km at start<input type="text" name="km_start" placeholder="Km at start">
            </label>
            <fieldset>
                <legend style="font-weight: bold">Choose the season</legend>
                <input type="radio" id="season1" name="season" value="Peak">
                <label for="season1">Peak-season</label>
                <input type="radio" id="season2" name="season" value="Middle">
                <label for="season2">Middle-season</label>
                <input type="radio" id="season3" name="season" value="Low">
                <label for="season3">Low-Season</label>
            </fieldset>
            <label>
                Enter pick up<input type="text" name="pick_up" placeholder="Pick up..">
            </label>
            <label>
                Enter km to pick up<input type="text" name="pick_up_extra" placeholder="Enter km">
            </label>
            <label>
                Enter base cost<input type="text" name="base_cost" placeholder="Enter base cost">
            </label>
            <label>
                Enter rental end date<input type="text" name="rental_end_date" placeholder="Enter rental end date">
            </label>
            <label>
                Enter end time<input type="time" name="end_time" placeholder="Enter end time">
            </label>
            <label>
                Enter drop off<input type="text" name="drop_off" placeholder="enter drop off">
            </label>
            <label>
                Enter km to drop off<input type="text" name="drop_of_extra" placeholder="Enter km">
            </label>
            <label>
                Enter km end<input type="text" name="km_end" placeholder="Enter km end">
            </label>
            <label>
                Enter repair fee<input type="text" name="repair_fee" placeholder="Enter repair fee">
            </label>
            <label>
                Enter fuel level<input type="text" name="fuel_level" placeholder="Enter fuel level">
            </label>

            <br>
        </div>
        <div class="createExpense">
            <button type="submit" value="Create new expense"> Create new expense</button>
        </div>
        <br>

    </form>
</div>
</body>
</html>