<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More info About Urban Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/moreInfo.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>

<h1 class="header">The Compact Motorhomes</h1>
<div class="motorhome">
    <h1>Compact plus model</h1>
    <img class="center" src="img/compactplus.jpg">
    <p>TThe Compact Plus Motorhome is a very economic motorhome that can house up to 3 people.
        It’s a great choice for the small family or a group of friends!
        There’s of course a shower so that you can release the stress away, and just enjoy the ride.
        The motorhome will take you far away from your troubles, and all you have to do is to cruise around and enjoy its greatness!
        There’s plenty of room for 3 people, and you can do all sorts of fun activities indoors.
    </p>
</div>
<div class="motorhome">
    <h1>Compact luxury model</h1>
    <img class="center"src="img/compactluxury.jpg">
    <p>The compact Luxury is a great choice for your family or a group of friends!
        It can house up to 4 people, and has great space due to its larger size.
        The ride will feel like a dream, due its ability to remain stable even on bumpy terrain.
        You can take a nice hot bath after a long day of travelling in the bathtub that’s included.
        A very nice choice, if you want to get away from the stressful city life, and just cruise around to experience the lovely nature.
    </p>
</div>
</body>
</html>