<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More info About Urban Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/moreInfo.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>

<h1 class="header">The Family Motorhomes</h1>
<div class="motorhome">
    <h1>Family plus model</h1>
    <img class="center" src="img/familyplus.jpg">
    <p>The Family Plus Motorhome is an economic solution and a great choice, for the regular family.
        It can house up to 4 people, and contains a big shower.
        drives very smoothly and even bumps will feel like regular road.
        It has plenty of room due to its larger size, so you’ll be able to do all sorts of fun activities indoors.
        It packs a lot of stuff despite the cheaper price tag. You won’t be disappointed!
    </p>
</div>
<div class="motorhome">
    <h1>Family luxury model</h1>
    <img class="center"src="img/familyluxury.jpg">
    <p>The Family Luxury Motorhome is a grand motorhome that can house up to 6 people.
        It’s a great choice whether it’s for your family or a group of friends!
        It can handle even the steepest hills despite its large size, due to its strong motor.
        You’ll be able to experience great comfort in the luxurious grand bathtub after a long day of travelling, so you can really discover what this motorhome has to offer.
        An all around great choice for the larger group of people.
    </p>
</div>
</body>
</html>