<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More info About Urban Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/moreInfo.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>

<h1 class="header">The Premium Motorhomes</h1>
<div class="motorhome">
    <h1>Premium plus model</h1>
    <img class="center" src="img/premiumplus.jpg">
    <p>The Premium Plus motorhome is our second biggest motorhome, which can house up to 5 people.
        It’s a great choice for a big family or your friends.
        It also includes a regular showerhead, as well as a bathtub, so that you can have a nice relaxing moment after a long day of travelling.
        There’s plenty of room, so a lack of space is the least of your worry.
        You’ll all be able to sit at a big dining table, and enjoy the great experience!
    </p>
</div>
<div class="motorhome">
    <h1>Premium luxury model</h1>
    <img class="center"src="img/premiumluxury.jpg">
    <p>The Premium luxury Motorhome is our biggest, and most expensive one, however if your sole purpose is to experience pure luxury and comfort, then this a no brainer.
        The motorhome can house up to 6 people.
        Not only does it have a showerhead, but also has a grand bathtub for utmost relaxation.
        There’s plenty of space for most activities, due to its large size, so you don’t have to worry about lack of space.
        This motorhome will be a once in a lifetime experience.
        This motorhome is very easy to drive that can take you anywhere, in which the sky is the limit.
    </p>
</div>
</body>
</html>