<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More info About Urban Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/moreInfo.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>

<h1 class="header">The Urban Motorhomes</h1>
<div class="motorhome">
    <h1>Urban plus model</h1>
    <img class="center" src="img/urbanplus.jpg">
    <p>The Urban Plus Motorhome is a small motorhome with room for 2 people.
        It’s perfect for the newly wed, the couple or just two friends, who want to travel.
        It's a small motorhome, which makes it easy to drive and maneuver for first time renters.
        The motorhome will offer comfort and accessibility. This motorhome is our cheapest motorhome, which makes it affordable for everyone.
        It’s a perfect motorhome, for the shorter holidays and for those that want to travel long distances.
    </p>
</div>
<div class="motorhome">
    <h1>Urban luxury model</h1>
    <img class="center"src="img/urbanluxury.jpg">
    <p>The Urban Plus Motorhome is a small motorhome with room for 2 people.
        The Urban Luxury Motorhome is an upgraded version of our Urban Plus Model.
        It can house up to 4 people, and is great for a family or a group of friends.
        With big and wide windows, you can just sit back and enjoy the beautiful ride, as well as the environment.
        It’s a very economic choice and you’ll experience great comfort for a cheap price!
    </p>
</div>
</body>
</html>